<div class="page-wrapper">
  <div class="profile-image">
     <img src="https://api.fnkr.net/testimg/250x250/00CED1/FFF/?text=img+placeholder">
  </div>
  <div class="content">
    <h1>This's 8 Beautiful ROR challenge</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ad libero, itaque tempore, necessitatibus repudiandae sit dolorem mollitia ducimus facilis sunt ipsum ratione labore architecto, ea repellat illum nisi non dolore laboriosam fugiat! Beatae libero praesentium maiores, ratione tempore voluptate repudiandae quibusdam est asperiores laudantium! Maxime voluptates, recusandae illo nisi laboriosam. Minima nam, fugiat, consequuntur maxime consectetur hic quos molestias placeat eveniet neque ratione illo numquam saepe, ad doloribus nulla?  
  </div>
</div>